header {
  position: fixed;
  top: 20px;
  left: 20px;

  .title {
    font-size: 56px;
    color: $accent;
    margin: 0;
    line-height: 55px;
  }

  .copyright {
    color: $accent;
    font-size: 14px;
  }
}
