/*csslint important: false*/
@media (max-width:710px) {
  animation: none !important;
  header {
    top: 10px !important;
    left: 10px !important;

    h1.title {
      display: none;
    }
    h1.title2 {
      display: block;
      font-size: 15px;
      line-height: 10px;
    }
  }

  .modules-search-beer {
    h1.loading {
      font-size: 15px;
      margin-right: 30px;
      margin-top: 10px;
    }

    .beer-show {
      .circle-show {
        left: 82% !important;
      }
    }

    .content {
      transform: none !important;
      margin: 27.7%;
      margin-top: 131px;
      top: initial !important;
      left: initial !important;
    }

    [disabled] .tooltip {
      right: -120px !important;
    }

    &.open {
      .label {
        transform: scale(.7);
        right: -45px !important;
      }
    }
  }
}
/*csslint important: true*/
